body {
    background-color: beige;
}
#header {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, orange, white, green);
    text-align: center;
}
img {
    margin: 0 auto;
    display: block;
}
ul {
    font-size: 20px;
    background-color: antiquewhite;
}
h2 {
    font-size: 31px;
    background: linear-gradient(90deg, orange, white, green);
    color: blueviolet;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
}
ol {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}